<h1> Coupon Form </h1>
<form class="" action= "<%=coupons_path%>" method="post">
  <input type="text" name="coupon_code" id="coupon_code" value="">
  <input type="text" name="store" id="store" value="">
  <input type="submit" name="Submit Coupon" value="Submit Coupon">
</form>
